<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask New Series</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body >

    <div class="container">

            <div id="Contents">
                <h2>MQTT Toggle Button</h2>
    
                <div class="toggle-container">
                    <label class="switch">
                    <input type="checkbox" id="toggleBtn">
                    <span class="slider round"></span>
                    </label>
                    <span>Status: <span id="status">OFF</span></span>
                </div>

                <h2>Intensity</h2>
                <div class="intensity-container">
                        <input type="range" id="IntensitySlider" min="0" max="100" value="50">
                        <span id="IntensityValue">50</span>
                </div>
            </div>

            <div class="graph-container">
                    <div id="TodayAndSetDateButton">
                        <button>Today</button>
                        <button>Set Data</button>
                    </div>
                    <canvas id="myChart" style="width:800px;max-width:700px"></canvas>
                </div>
    </div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>